// Variables 
$level-0: 1000 !default;
$level-1: 2000 !default;
$level-2: 3000 !default;
$level-3: 4000 !default;
$level-4: 5000 !default;
$level-5: 6000 !default;
$level-6: 7000 !default;
$level-7: 8000 !default;
$level-8: 9000 !default;
$level-9: 10000 !default;


.z-index-0 {
  z-index: $level-0;
}

.z-index-1 {
  z-index: $level-1;
}

.z-index-2 {
  z-index: $level-2;
}

.z-index-3 {
  z-index: $level-3;
}

.z-index-4 {
  z-index: $level-4;
}
.z-index-5 {
  z-index: $level-5;
}

.z-index-6 {
  z-index: $level-6;
}

.z-index-7 {
  z-index: $level-7;
}

.z-index-8 {
  z-index: $level-8;
}

.z-index-9 {
  z-index: $level-9;
}