// * Reset
*,
::before,
::after {
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
  overflow-wrap: break-word; // to prevent text from overflowing its line box.
}

body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
p,
blockquote,
figure,
th,
td,
fieldset {
  margin: 0;
  padding: 0;
}

// * VR
p,
pre,
figure,
blockquote,
ul,
ol,
table {
  margin-bottom: var(--ws-m);

  &:last-child {
    margin-bottom: 0;
  }
}

// * Remove gaps at the bottom of these with their containers
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

// * Media responsive
img,
video,
audio {
  max-width: 100%;
}

// * Forms
textarea {
  resize: vertical; // Allow only vertical resizing of textareas.
}

// * Selection to avoid text-shadow during text highlighting
::-moz-selection {
  background: var(--text-selection-bg-color);
  color: var(--text-selection-fg-color);
  text-shadow: none;
}

::selection {
  background: var(--text-selection-bg-color);
  color: var(--text-selection-fg-color);
  text-shadow: none;
}
