// * Reset

*,
::before,
::after {
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
  overflow-wrap: break-word; // to prevent text from overflowing its line box.
}

body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
p,
blockquote,
figure,
th,
td {
  margin: 0;
  padding: 0;
}

// * VR
p,
pre,
figure,
blockquote,
ul,
ol,
table {
  margin-top: var(--ws-m);
}

// * Media responsive
img,
video,
audio {
  display: block;
  max-width: 100%;
}

// * Embed
iframe {
  display: block;
  width: 100%;
}
