/**
 * Typography
 */
body {
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

// * Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: var(--ws-xxs);
  line-height: 1.5;
  color: var(--primary-darkest);
  font-family: var(--font-secondary);
}

h1,
.h1 {
  font-size: var(--font-size-heading-l);
  line-height: 1.4;
}
h2,
.h2 {
  font-size: var(--font-size-heading-m);
}
h3,
.h3 {
  font-size: var(--font-size-heading-s);
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-size: var(--font-size-body-l);
}

// * links
a {
  color: var(--enabled);
  &:hover {
    color: var(--hover);
  }
  &:focus {
    color: var(--gray-darkest);
    background-color: var(--focused);
  }
}

// * List
ul,
ol {
  padding-left: var(--gap-l);
  // nested list
  ul,
  ol {
    margin: var(--ws-t) 0;
  }
}

// * Quotation
blockquote {
  margin-left: var(--gap-l);
  font-size: var(--font-size-body-l);
  line-height: 1.5;
  font-style: italic;
  text-align: center;
  quotes: "“" "”";
}

small,
figcaption {
  font-size: var(--font-size-body-s);
}

// * MQs
@include respond(medium-small) {
  body {
    font-size: var(--font-size-body-l); // 20px
  }
} // 1024px

@include respond(medium-large) {
  h1,
  .h1 {
    font-size: var(--font-size-heading-xl);
    line-height: 1.4;
  }

  h2,
  .h2 {
    font-size: var(--font-size-heading-l);
    line-height: 1.5;
  }

  h3,
  .h3 {
    font-size: var(--font-size-heading-m);
    line-height: 1.5;
  }

  h4,
  .h4 {
    font-size: var(--font-size-heading-s);
    line-height: 1.5;
  }

  h5,
  .h5,
  h6,
  .h6 {
    font-size: var(--font-size-body-l);
    line-height: 1.5;
  }
} // 1280px
