{% assign title = page.title | default: site.title | escape %}
{% assign description = page.description | default: site.description | strip_html | strip_newlines | truncate: 160 | escape %}
{% assign url = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<meta name="description" content="{{ description }}">
<title>{{ title }}</title>

<link rel="stylesheet" href="./public/styles/style.css">
<link rel="canonical" href="{{ url }}">
